

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>


<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
               FirstName
            </th>
            <th>
               LastName
            </th>
            <th>
                Email
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Gender
            </th>
            <th>
               PhotoPath
            </th>
            
            
        </tr>
    </thead>
    <tbody>


    </tbody>
</table>
@section scripts{
    <script src="~/js/datatable_file.js"></script>
}
